{% extends '::page.html.twig' %}

{% block page_title %}
    {{ blog.title }}
{% endblock %}

{% block main %}
    <article class="blog">
        <div class="container blog-container">
            <div class="field field_created">
                {{ blog.created|date("d-m-Y H:i") }}
            </div>
            <div class="field field-body">
                {{ blog.body|raw }}
            </div>
        </div>
    </article>
{% endblock %}
